.webName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
}

.web-name {
  z-index: 100;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
}


.nav ul li {
  color: rgb(37, 56, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 5px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}

/* linking tag to the Li (List) */
.navigation li a{
  text-decoration: none;
  width: 90px;
}
/* Inactive li -> anchor tag */
.navigation li.inactive a{
  color: dimgrey;
  display: flex;
  justify-content: center;
}
/* Inactive li -> anchor tag : HOVER */
.navigation li.inactive a:hover{
  color: #8fec33;
  border-bottom: 1px solid #8fec33;
}
/* Active li */
.navigation li.active a{
  color: #8fec33;
  border-bottom: none;
  display: flex;
  justify-content: center;
}
